{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
	  var rotateBox = document.getElementById('rotate-box');
    var rotateManager = new Hammer(rotateBox);
    rotateManager.get('rotate').set({ enable: true });
    rotateManager.on('rotate', function(ev) {
      rotateBox.style.backgroundColor = 'black';
      rotateBox.style.color = 'white';
      rotateBox.textContent = 'rotated';
    })
    var pinchBox = document.getElementById('pinch-box');
    var pinchManager = new Hammer(pinchBox);
    pinchManager.get('pinch').set({enable: true});
    pinchManager.on('pinch', function(ev) {
      pinchBox.style.backgroundColor = 'black';
      pinchBox.style.color = 'white';
      pinchBox.textContent = "pinched"; 
    })
    var pressBox = document.getElementById('press-box');
    var pressManager = new Hammer(pressBox);
    pressManager.on("press", function(ev) {
      pressBox.style.backgroundColor = 'black';
      pressBox.style.color = 'white';
      pressBox.textContent = "pressed";  
    })
    var panBox = document.getElementById('pan-box');
    var panManager = new Hammer(panBox);
    panManager.on("pan", function(ev) {
      panBox.style.backgroundColor = 'black';
      panBox.style.color = 'white';
      panBox.textContent = "panned";  
    })
    var tapBox = document.getElementById('tap-box');
    var tapManager = new Hammer(tapBox);
    tapManager.on("tap", function(ev) {
      tapBox.style.backgroundColor = 'black';
      tapBox.style.color = 'white';
      tapBox.textContent = "tapped";  
    })
    var swipeBox = document.getElementById('swipe-box');
    var swipeManager = new Hammer(swipeBox);
    swipeManager.on("swipe", function(ev) {
      swipeBox.style.backgroundColor = 'black';
      swipeBox.style.color = 'white';
      swipeBox.textContent = "swiped";  
    })
    
    
  </script>
</body>
</html>
